.bg1 {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0000ff, #4169e1);
}

.bg2 {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 200%;
  background-color: #151b54;
}

.logo {
    position: absolute;
    top: 10px;
    left: 7px;
    width: 80px !important;
    height: auto !important;
    border-radius: 50px;
}

.celana {
  position: absolute;
  top: 180px;
  left: 138px;
  width:150px;
  z-index: 11;
  border-radius: 25px;
}

.nmcelana {
  position: absolute;
  color: white;
  font-size: 18px;
  font-family: Comic Sans MS;
  top: 328px;
  left: 105px;
  -webkit-text-stroke: 1px black;
  z-index: 12;
}

.hrgcelana {
  position: absolute;
  color: white;
  font-size: 18px;
  font-family: Comic Sans MS;
  top: 355px;
  left: 105px;
  -webkit-text-stroke: 1px black;
  z-index: 13;
}

.dskcelana {
  position: absolute;
  color: white;
  font-size: 18px;
  font-family: Comic Sans MS;
  top: 380px;
  left: 105px;
  -webkit-text-stroke: 1px black;
  z-index: 14;
}

.buycln {
position: absolute;
color: white;
font-size: 25px;
background-color: #ff6e00;
font-family: Comic Sans MS;
top: 430px;
left: 168px;
z-index: 15;
}

.buycln:hover {
background-color: #cc5500;
}

.buycln:active {
background-color: #ff6e00;
}

.hoodiebasis {
  position: absolute;
  top: 580px;
  left: 138px;
  width:150px;
  z-index: 11;
  border-radius: 25px;
}

.nmhoodie {
  position: absolute;
  white-space: nowrap;
  color: white;
  font-size: 20px;
  font-family: Comic Sans MS;
  top: 175px;
  left: 20px;
  -webkit-text-stroke: 1px black;
  z-index: 12;
}

.hrghoodie {
  position: absolute;
  color: white;
  font-size: 21px;
  font-family: Comic Sans MS;
  top: 200px;
  left: 20px;
  -webkit-text-stroke: 1px black;
  z-index: 12;
}

.buyhoodie {
position: absolute;
color: white;
font-size: 25px;
background-color: #ff6e00;
font-family: Comic Sans MS;
top: 830px;
left: 168px;
z-index: 15;
}

.buyhoodie:hover {
background-color: #cc5500;
}

.dskhoodie {
  position: absolute;
  color: white;
  font-size: 18px;
  white-space: nowrap;
  font-family: Comic Sans MS;
  top: 231px;
  left: 20px;
  -webkit-text-stroke: 1px black;
  z-index: 14;
}

#storename {
  position: absolute;
  top: 10px;
  left: 95px;
  font-size: 30px;
  font-family: Times New Roman;
   color: #ffffff;
    text-shadow: 
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 5px #ffffff;
  transition: color 0.1s ease;
  z-index: 10;
}

.counter1 {
  position: absolute;
  top: 150px;
  left: 85px;
  width: 250px;
  background-color: #b21807;
  aspect-ratio: 3/4;
  border-radius: 30px;
  border: 2px solid white;
  z-index: 10;
}

.counter2 {
  position: absolute;
  top: 550px;
  left: 85px;
  width: 250px;
  background-color:#b21807;
  aspect-ratio: 3/4;
  border-radius: 30px;
  border: 2px solid white;
  z-index: 10;
}

.timothyg {
  position: relative;
  top: 930px;
  left: 77px;
    width: 250px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

#thanks {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  font-family: Sans-Serif;
  top: 1200px;
  left: 22px;
  -webkit-text-stroke: 1px white;
  z-index: 14;
}

#pay {
  position: absolute;
  color: white;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  font-family: Sans-Serif;
  top: 1230px;
  left: 95px;
  -webkit-text-stroke: 1px white;
  z-index: 14;
}

#contact {
  position: absolute;
  color: white;
  font-size: 18px;
  white-space: nowrap;
  font-family: Sans-Serif;
  top: 1270px;
  left: 25px;
  -webkit-text-stroke: 1px white;
  z-index: 14;
}

#github a {
  position: absolute;
  background-color: cyan;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  white-space: nowrap;
  font-family: Sans;
  top: 1315px;
  left: 25px;
  z-index: 14;
}

#githubicon {
  width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

#tiktok a {
  position: absolute;
  background-color: cyan;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  white-space: nowrap;
  font-family: Sans;
  top: 1315px;
  left: 180px;
  z-index: 14;
}

#tiktokicon {
  width: 20px;
  height: auto;
  vertical-align: middle;
  margin-right; 5px;
}

#telegram a {
position: absolute;
  background-color: cyan;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  white-space: nowrap;
  font-family: Sans;
  top: 1370px;
  left: 35px;
  z-index: 14;
}

#telegramicon {
  width: 20px;
  height: auto;
  vertical-align: middle;
  margin-right; 5px;
}

#instagram a {
  position: absolute;
     background-color: cyan;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  list-style: none;
  font-size: 18px;
  white-space: nowrap;
  font-family: Sans;
  top: 1370px;
  left: 180px;
  z-index: 14;
}

#instagramicon {
  width: 20px;
  height: auto;
  vertical-align: middle;
  margin-right; 5px;
}

.kendrick {
  position: absolute;
  top: 1430px;
  left: -98px;
  width: 520px;
  height: auto;
  vertical-align: middle;
  z-index: 11;
}